Repository haidave/haidave-com-v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.{json,md,mdx,html,yaml}": ["prettier --write"]
}

chore: project architecture
  .vscode/settings.json
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/fonts/GeistVF.woff
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/config/links.ts
  src/config/routes.ts
  src/hooks/use-resize.ts
  src/lib/utils.ts
  src/modules/design-system/components/.gitkeep
  src/modules/design-system/layouts/root-layout.tsx
  src/modules/design-system/theme/fonts.ts
  src/modules/home/components/.gitkeep
  src/modules/home/pages/home.tsx
  src/styles/globals.css
  tailwind.config.cjs
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore: add prettier-plugin-tailwindcss
  bun.lockb
  package.json
  prettier.config.cjs
Due: prettier --write

chore(deps): add lucide-react
  bun.lockb
  package.json
Due: prettier --write

chore(deps): add next-themes
  bun.lockb
  package.json
Due: prettier --write

feat(root-layout): add theme-provider
  src/lib/providers/providers.tsx
  src/lib/providers/theme-provider.tsx
  src/modules/design-system/layouts/root-layout.tsx
Due: eslint --fix, prettier --write

feat(design-system): add theme-switcher
  src/modules/design-system/components/.gitkeep
  src/modules/design-system/components/theme-switcher.tsx
Due: eslint --fix, prettier --write

chore(deps): add radix-ui react-slot
  bun.lockb
  package.json
Due: prettier --write

feat(design-system): add button
  src/modules/design-system/components/button.tsx
  src/modules/design-system/components/theme-switcher.tsx
Due: eslint --fix, prettier --write

feat(design-system): add link
  src/modules/design-system/components/link.tsx
Due: eslint --fix, prettier --write

feat(home): add evilrabbit's portfolio style
  src/config/links.ts
  src/modules/design-system/components/button.tsx
  src/modules/design-system/components/theme-switcher.tsx
  src/modules/home/pages/home.tsx
  src/styles/globals.css
  tailwind.config.cjs
Due: eslint --fix, prettier --write

feat: add header navigation
  src/app/about/page.tsx
  src/app/craft/page.tsx
  src/app/notes/page.tsx
  src/config/routes.ts
  src/modules/about/pages/about.tsx
  src/modules/craft/pages/craft.tsx
  src/modules/design-system/components/header/header.tsx
  src/modules/design-system/components/header/parts/header-link.tsx
  src/modules/design-system/components/link.tsx
  src/modules/design-system/layouts/root-layout.tsx
  src/modules/home/pages/home.tsx
  src/modules/notes/pages/notes.tsx
Due: eslint --fix, prettier --write

feat(root-layout): change margin-top
  src/modules/design-system/layouts/root-layout.tsx
Due: eslint --fix, prettier --write

refactor(header): remove hover underline when on homepage
  src/modules/design-system/components/header/header.tsx
  src/modules/design-system/components/header/parts/header-link.tsx
Due: eslint --fix, prettier --write

feat: add about page
  src/config/links.ts
  src/modules/about/pages/about.tsx
Due: eslint --fix, prettier --write

feat(styles/globals): add text-wrap css reset
  src/styles/globals.css
Due: prettier --write

refactor(root-layout): replace margin-top with padding-top
  src/modules/design-system/layouts/root-layout.tsx
Due: eslint --fix, prettier --write

feat(root-layout): add footer
  src/modules/design-system/components/footer.tsx
  src/modules/design-system/layouts/root-layout.tsx
  src/modules/home/pages/home.tsx
Due: eslint --fix, prettier --write

refactor(link): add text-secondary
  src/modules/design-system/components/footer.tsx
  src/modules/design-system/components/header/header.tsx
  src/modules/design-system/components/link.tsx
Due: eslint --fix, prettier --write

feat: unify font-sizes
  src/modules/about/pages/about.tsx
  src/modules/design-system/components/header/header.tsx
  src/modules/design-system/components/header/parts/header-link.tsx
  src/modules/design-system/layouts/root-layout.tsx
  src/modules/home/pages/home.tsx
Due: eslint --fix, prettier --write

feat(styles): add bg-secondary
  src/styles/globals.css
  tailwind.config.cjs
Due: prettier --write

chore(lib): add formatters
  src/lib/formatters.ts
Due: eslint --fix, prettier --write

feat(design-system): add copy-to-clipboard
  src/modules/design-system/components/copy-to-clipboard.tsx
Due: eslint --fix, prettier --write

refactor(link): replace hover underline with ::after
  src/modules/design-system/components/header/header.tsx
  src/modules/design-system/components/link.tsx
Due: eslint --fix, prettier --write

feat: add notes with mdx
  bun.lockb
  package.json
  src/app/notes/[slug]/page.tsx
  src/config/routes.ts
  src/lib/mdx/mdx-components.tsx
  src/lib/mdx/mdx.ts
  src/modules/design-system/layouts/root-layout.tsx
  src/modules/notes/content/first-note.mdx
  src/modules/notes/content/second-note.mdx
  src/modules/notes/content/third-note.mdx
  src/modules/notes/pages/note.tsx
  src/modules/notes/pages/notes.tsx
Due: eslint --fix, prettier --write

fix(note): resolve params type
  src/modules/notes/pages/note.tsx
Due: eslint --fix, prettier --write

chore(postcss-config): add autoprefixer
  postcss.config.mjs
Due: none

chore(formatters): shorten month format
  src/lib/formatters.ts
Due: eslint --fix, prettier --write

feat(design-system): add blockquote to mdx-components
  src/lib/mdx/mdx-components.tsx
  src/modules/design-system/components/blockquote.tsx
Due: eslint --fix, prettier --write

chore(prettier): add prose wrap
  .vscode/settings.json
  prettier.config.cjs
Due: prettier --write

feat(notes/content): add the-taste-gap note
  src/modules/notes/content/the-taste-gap.mdx
  src/modules/notes/pages/note.tsx
Due: eslint --fix, prettier --write

chore(notes/content): remove dummy notes
  src/modules/notes/content/first-note.mdx
  src/modules/notes/content/second-note.mdx
  src/modules/notes/content/third-note.mdx
Due: prettier --write

feat(app): add metadata titles for all pages
  src/app/about/page.tsx
  src/app/craft/page.tsx
  src/app/layout.tsx
  src/app/notes/page.tsx
Due: eslint --fix, prettier --write

feat(header): add square hd logo
  src/modules/design-system/components/header/header.tsx
Due: eslint --fix, prettier --write

refactor(notes): adjust layout
  src/modules/notes/pages/notes.tsx
Due: eslint --fix, prettier --write

feat: add animated favicon
  public/images/icon-frame-1.png
  public/images/icon-frame-2.png
  public/images/icon-idle.png
  public/images/icon.png
  src/app/favicon.ico
  src/app/layout.tsx
  src/modules/design-system/components/animated-favicon.tsx
  src/modules/design-system/layouts/root-layout.tsx
Due: eslint --fix, prettier --write

ci: update node version
  .github/workflows/ci.yml
Due: none

refactor(animated-favicon): animate on route change
  src/modules/design-system/components/animated-favicon.tsx
Due: eslint --fix, prettier --write

refactor(animated-favicon): add some optimizations
  src/modules/design-system/components/animated-favicon.tsx
Due: eslint --fix, prettier --write

feat(styles): add border-secondary
  src/styles/globals.css
  tailwind.config.cjs
Due: prettier --write

feat(link): add withoutUnderline prop
  src/modules/design-system/components/link.tsx
Due: eslint --fix, prettier --write
